#Class 6 Aggregation--Video Game Sales--Brandon Holderman

In [3]:
import pandas as pd
import numpy as np
from statistics import median

In [8]:
df = pd.read_csv('./vgsales.csv')
df.head()

#What are the top 20 highest grossing

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [46]:
#Which company is the most common publisher
pd.DataFrame(df['Publisher']).groupby(df.Publisher).count().sort_values('Publisher')

                                        Publisher
Publisher
Locus                                           1
Rain Games                                      1
DreamWorks Interactive                          1
EA Games                                        1
EON Digital Entertainment                       1
RED Entertainment                               1
Mycom                                           1
Ecole                                           1
ITT Family Games                                1
Quintet                                         1
Illusion Softworks                              1
Quest                                           1
Elite                                           1
Quelle                                          1
NDA Productions                                 1
Pow                                             1
Enjoy Gaming ltd.                               1
PopTop Software                                 1
Epic Games                                      1
Pony Canyon                                     1
Ertain                                          1
Mystique                                        1
Imadio                                          1
DigiCube                                        1
Image Epoch                                     1
Sold Out                                        1
Griffin International                           1
Intergrow                                       1
Interchannel-Holon                              1
Simon & Schuster Interactive                    1
...                                           ...
Majesco Entertainment                          92
Zoo Digital Publishing                        104
Nippon Ichi Software                          105
Deep Silver                                   122
Idea Factory                                  129
Codemasters                                   152
Vivendi Games                                 164
Acclaim Entertainment                         184
D3Publisher                                   184
Microsoft Game Studios                        189
505 Games                                     192
Midway Games                                  198
Eidos Interactive                             198
Unknown                                       203
Disney Interactive Studios                    218
Warner Bros. Interactive Entertainment        232
Square Enix                                   233
Tecmo Koei                                    338
Atari                                         363
Capcom                                        381
Take-Two Interactive                          413
Sega                                          639
Sony Computer Entertainment                   683
Nintendo                                      703
THQ                                           715
Konami Digital Entertainment                  832
Ubisoft                                       921
Namco Bandai Games                            932
Activision                                    975
Electronic Arts                              1351

[578 rows x 1 columns]

In [48]:
#What's the most common platform
pd.DataFrame(df['Platform']).groupby(df.Platform).count().sort_values('Platform')

          Platform
Platform
GG               1
PCFX             1
TG16             2
3DO              3
WS               6
SCD              6
NG              12
GEN             27
DC              52
GB              98
NES             98
2600           133
WiiU           143
SAT            173
XOne           213
SNES           239
N64            319
PS4            336
PSV            413
3DS            509
GC             556
GBA            822
XB             824
PC             960
PS            1196
PSP           1213
X360          1265
Wii           1325
PS3           1329
PS2           2161
DS            2163

In [51]:
#What about the most common genre?
pd.DataFrame(df['Genre']).groupby(df.Genre).count().sort_values('Genre')

              Genre
Genre
Puzzle          582
Strategy        681
Fighting        848
Simulation      867
Platform        886
Racing         1249
Adventure      1286
Shooter        1310
Role-Playing   1488
Misc           1739
Sports         2346
Action         3316

In [179]:
#What are the top 20 highest grossing games?
pd.DataFrame(df[['Name', 'Global_Sales']]).head(21)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22
20                 Pokemon Diamond/Pokemon Pearl         18.36

In [182]:
#For North American video game sales, what’s the median?
df[(df['NA_Sales']< 0.085) & (df['NA_Sales'] > 0.075)].head(11)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
2373,2375,Phantasy Star Portable 2,PSP,2009.0,Role-Playing,Sega,0.08,0.11,0.62,0.06,0.88
2579,2581,The Sims 2: Castaway,PSP,2007.0,Simulation,Electronic Arts,0.08,0.46,0.00,0.25,0.80
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.00,0.44,0.63
3503,3505,Top Spin 3,PS3,2008.0,Action,Take-Two Interactive,0.08,0.37,0.00,0.12,0.57
3703,3705,Sonic & All-Stars Racing Transformed,PS3,2012.0,Racing,Sega,0.08,0.33,0.01,0.11,0.54
3806,3808,F1 2009,PSP,2009.0,Racing,Codemasters,0.08,0.29,0.00,0.16,0.53

In [174]:
#For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
top_game = df[['Name', 'Global_Sales', 'NA_Sales']].sort_values('Global_Sales', ascending = False)[:1]
american_sales_std = df['NA_Sales'].std()
american_sales_mean = df['NA_Sales'].mean()
(top_game['NA_Sales'] - american_sales_mean) / american_sales_std

0    50.478988
Name: NA_Sales, dtype: float64

In [184]:
#The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
pd.DataFrame(df[['Platform', 'Global_Sales']]).head(1)

pd.DataFrame(df[['Platform', 'Global_Sales']]).groupby(df.Platform).count().sort_values('Platform', ascending=False)

          Platform  Global_Sales
Platform
DS            2163          2163
PS2           2161          2161
PS3           1329          1329
Wii           1325          1325
X360          1265          1265
PSP           1213          1213
PS            1196          1196
PC             960           960
XB             824           824
GBA            822           822
GC             556           556
3DS            509           509
PSV            413           413
PS4            336           336
N64            319           319
SNES           239           239
XOne           213           213
SAT            173           173
WiiU           143           143
2600           133           133
NES             98            98
GB              98            98
DC              52            52
GEN             27            27
NG              12            12
SCD              6             6
WS               6             6
3DO              3             3
TG16             2             2
PCFX             1             1
GG               1             1

In [192]:
#What are the top grossing games in Europe
df[['Name', 'EU_Sales']].head(11)

                         Name  EU_Sales
0                  Wii Sports     29.02
1           Super Mario Bros.      3.58
2              Mario Kart Wii     12.88
3           Wii Sports Resort     11.01
4    Pokemon Red/Pokemon Blue      8.89
5                      Tetris      2.26
6       New Super Mario Bros.      9.23
7                    Wii Play      9.20
8   New Super Mario Bros. Wii      7.06
9                   Duck Hunt      0.63
10                 Nintendogs     11.00

In [191]:
#What are the top tem years with the highest global sales
df[['Year', 'Global_Sales']].head(11)

      Year  Global_Sales
0   2006.0         82.74
1   1985.0         40.24
2   2008.0         35.82
3   2009.0         33.00
4   1996.0         31.37
5   1989.0         30.26
6   2006.0         30.01
7   2006.0         29.02
8   2009.0         28.62
9   1984.0         28.31
10  2005.0         24.76

In [193]:
#What are the top 5 highest grossing genres in other sales
df[['Genre', 'Other_Sales']].groupby(df.Genre).count().sort_values('Other_Sales', ascending=False).head()

              Genre  Other_Sales
Genre
Action         3316         3316
Sports         2346         2346
Misc           1739         1739
Role-Playing   1488         1488
Shooter        1310         1310